body {margin: 0;}

#main {
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	position: relative;
	border: 10px solid black;
	box-sizing: border-box;
	font: 60px Verdana;
}

#white-box, #black-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
}

.note {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
	touch-action: none;
}

.note span {
	display: block;
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	transition: opacity 1s 3s;
}

.white {
	border: 5px solid black;
	background-color: white;
}

#black-box {
	height: 50%;
	color: white;
	pointer-events: none;
}

.black {
	border: 10px solid black;
	border-top: none;
	background-color: black;
	width: calc(100% / 8 - 40px);
	pointer-events: auto;
}

.black:first-child {margin-left: calc(100% / 16);}
.black:nth-child(2) {margin-right: calc(100% / 8);}
.black:last-child {margin-right: calc(100% * 3 / 16);}

.fill {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background-position: 50% 100%;
}

.white .fill {
	background-color: #f58b1b;
	background-image: linear-gradient(#ff6f00,#ffaa00);
	background-size: auto 100%;
}

.black .fill {
	background-color: #2a2894;
	background-image: linear-gradient(#3d04cc,black);
	background-size: auto 200%;
	transform: rotateY(180deg);
}

#speed-box {
	position: absolute;
	left: 0;
	bottom: 0;
	background: black;
	color: white;
	padding: 10px;
	animation: fade1 .7s ease-out .5s;
	animation-fill-mode: forwards;
}

#speed-box.fade {
	animation-name: fade2;
}

@keyframes fade1 {to {opacity: 0}}
@keyframes fade2 {to {opacity: 0}}
